node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.production
.next/cache
.next/server
.next/build-id
.next/trace
.next/BUILD_ID
.next/compiled
.next/next-server.js.nft.json
.next/webpack
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
*.swp
*.swo
*~
.DS_Store